# List

In [8]:
mark=[11,22,33,11,"number","Anku"]
print(mark)
print(mark[-5])
print(mark[0:3])          # 0,3  Wrong
print(mark[1:-2])
print(mark.index(33))

[11, 22, 33, 11, 'number', 'Anku']
22
[11, 22, 33]
[22, 33, 11]
2

In [9]:
for i in mark:
    print(i)

11
22
33
11
number
Anku

In [3]:
mark.clear()
print(mark)

[]

In [10]:
mark.append(55)         #only one element can append once
print(mark.append([77]))
print(mark)

None
[11, 22, 33, 11, 'number', 'Anku', 55, [77]]

In [6]:
print(11 in mark)
print(len(mark))

True
7

In [11]:
arr = [0, 2, 1, 2, 0]
a = []
z = arr.count(0)
o = arr.count(1)
t = arr.count(2)
        
a.extend([0] * z)
a.extend([1] * o)
a.extend([2] * t)
print(a)

[0, 0, 1, 2, 2]

In [12]:
arr = [ -1, 2, -3, 4, 5, 6, -7, 8, 9 ]
arr.sort()
for i in arr:
    print(i,end=" ")

-7 -3 -1 2 4 5 6 8 9

In [13]:
nums = [3,2,3,1,2,4,5,6,8,9]
k = 4
a=sorted(nums)
print(a[-k])

5

In [1]:
n=[3,4,'5','shiva',33]
print(tuple(n))

(3, 4, '5', 'shiva', 33)

# Tuple

In [18]:
mark = 54,56,34,23
print(type(mark))
print(mark)
print(mark.count(23))
print(mark.index(34))

m = (34)
print(type(m))
print(m)

marks = (32,)
print(type(marks))
print(marks)

<class 'tuple'>
(54, 56, 34, 23)
1
2
<class 'int'>
34
<class 'tuple'>
(32,)

In [2]:
n=(2,55,'4',"foo",'rao')
print(list(n))

[2, 55, '4', 'foo', 'rao']

# Dict

In [19]:
marks = {"OOPs" : 99,"DSA": 100,2:5 ,45:"a"}
print(marks)
print(marks["DSA"])
marks["Math"]=98
print(marks["Math"])
print(marks)
print(type(marks))

for score in marks:
    print(score)

{'OOPs': 99, 'DSA': 100, 2: 5, 45: 'a'}
100
98
{'OOPs': 99, 'DSA': 100, 2: 5, 45: 'a', 'Math': 98}
<class 'dict'>
OOPs
DSA
2
45
Math

In [4]:
n = {'a': 1, 'b': 2, 'c': 3}
del n['b']
print(n)

{'a': 1, 'c': 3}

In [5]:
m = {'a': 1, 'b': 2, 'c': 3}
value = m.pop('b')
print(m)
print(value)

{'a': 1, 'c': 3}
2

In [6]:
d = {'a': 1, 'b': 2, 'c': 3}
key, value = d.popitem()
print(d)
print(key, value)

{'a': 1, 'b': 2}
c 3

In [20]:
import math
print(dir(math))
from math import *
print(sqrt(144))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
12.0